<?xml version="1.0"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- BEGIN APPENDER: CONSOLE APPENDER (stdout) -->
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                    value="%d %-5p %c - %m%n"/>
        </layout>
    </appender>

    <appender class="org.apache.log4j.FileAppender" name="timestamp">
        <param name="File" value="conversion.log"/>
        <param name="Append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                    value="%d %-5p %c - %m%n"/>
        </layout>
    </appender>

    <appender class="org.apache.log4j.FileAppender" name="ttccfile">
        <param name="File" value="conversion.log"/>
        <param name="Append" value="false"/>
        <layout class="org.apache.log4j.TTCCLayout"/>
    </appender>

    <appender class="org.apache.log4j.FileAppender" name="xml">
        <param name="File" value="conversion_xml.log"/>
        <param name="Append" value="false"/>
        <layout class="org.apache.log4j.xml.XMLLayout"/>
    </appender>

    <!-- BEGIN APPENDER: ROLLING FILE APPENDER (rolling) -->
    <appender name="rolling" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="conversion.log"/>
        <param name="MaxFileSize" value="100KB"/>
        <param name="MaxBackupIndex" value="1"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                    value="%d %-5p %-17c{2} (%30F:%L) %3x - %m%n"/>
        </layout>
    </appender>

    <appender name="lf5Rolling" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="example_lf5.log"/>
        <param name="MaxBackupIndex" value="5"/>
        <param name="MaxFileSize" value="100KB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                    value="[slf5s.start]%d{DATE}[slf5s.DATE]%n  %p[slf5s.PRIORITY]%n%x[slf5s.NDC]%n%t[slf5s.THREAD]%n%c[slf5s.CATEGORY]%n  %l[slf5s.LOCATION]%n%m[slf5s.MESSAGE]%n%n"/>
        </layout>
    </appender>
    <!-- LogFactor5 is also capable of loading information from file, -->
    <!-- although the formatting isn't nearly as simple (to configure) -->
    <!-- as the stored file for Chainsaw.  Unfortunately, there appears -->
    <!-- to be no _simple_ way to configure for this file format (yet) -->

    <logger name="edu.stanford.sulair.dlss.lyberstructure.resource.XsltResource">
        <level value="info"/>
        <appender-ref ref="stdout"/>
    </logger>

    <root>
        <level value="info"/>
        <appender-ref ref="timestamp"/>
    </root>

</log4j:configuration>
